{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
	  <div class="container-fluid">
	    <h1>{{ heading_title }} </h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
		</div>
	</div>
  <div class="container-fluid panel panel-default">
		{% if error_warning %}
				<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		{% if success %}
			<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="row container-fluid">
					<div class="form-group">
						<label class="col-sm-1 control-label" for="">Product Barcode</label>
						<div class="col-sm-4">
							<input type="text" name="productBarcode" value="{{ productBarcode }}" placeholder="{{ productBarcode }}" id="productBarcode" class="form-control"/>
						</div>
					
						<label class="col-sm-1 control-label" for="">Product Name</label>
						<div class="col-sm-3">
							<input type="text"  name="produtName" value="" placeholder="{{ productName }}" id="productName" class="form-control"/>
						</div>
						<label class="col-sm-1 control-label" for="">Quantity</label>

						<div class="col-sm-2">
							<input type="text"  name="quantity" value="0" placeholder="0" id="quantity" class="form-control"/>
						</div>						
					</div>
				</div>
		
		<div class="row container-fluid" >
			<div class="form-group">
				<label class="col-sm-1 control-label" for="">Choose Belt:</label>
				<div class="col-sm-8" id="positions"></div>
			</div>
		</div>

	</div>
</div>
</div>
<script type="text/javascript">
// when product barcode changes then get the list of belts that belongs to that product
// and show them : to do that call an a page 
// this line below should return json data and I can show them in some way in the page
///http://192.168.1.51/store/admin/index.php?route=catalog/category/autocomplete&user_token=DaxdhWWTAzvrPPP2y3J7lJGI03Ut4zbG&filter_name=
	$("#productBarcode").focus();
	var IP = '192.168.1.51';

function getProductName(barcode){
		$.ajax({
			url: 'http://'+IP+'/store/index.php?route=api/product/get',
			async: false,
		  	type: 'post',
		  	data: {sku: barcode},
		    crossDomain: true,
			  success: function(json) {
			  	  
			  },
			  error: function(xhr, ajaxOptions, thrownError) {
		  		alert('Get Product ID failure');
		    	alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			    }
		}).done(function(json){
			$("#productName").val(json['name']);

		});	
}
function getProductID(barcode){
	getProductName(barcode);
	//8695077069436 barcode for now
		//let barcode = $("#productBarcode").html();
		$.ajax({
			url: 'http://192.168.1.51/store/admin/index.php?route=catalog/refill/getBelts&user_token={{user_token}}',
			async: false,
		  	type: 'post',
		  	data: {barcode: barcode},
		    crossDomain: true,
			  success: function(json) {

			  },
			  error: function(xhr, ajaxOptions, thrownError) {
		  		alert('Get Product ID failure');
		    	alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			    }
		}).done(function(belts){
			console.log('Belts are : ',belts);
			console.log('Length : ',belts.length);
			belts.forEach(belt => 
			  { 
				  console.log('belt is : ',belt); 
					$("#positions").append("<div data-beltID='"+belt[0]
					+"' data-space='"+belt[6]+"' class='col-sm-2 container-fluid position btn btn-success p-4 '>"
						+ belt[1]+"<BR> Direction:"+ belt[3]
						+" <BR> Shelf "+belt[5]+
						" <BR> Position "+belt[7]+
						" <BR>Space:"+belt[6]+"</div>");
				} 
			);
	  });
	}
	$(document.body).on('click', '.position' ,function(){
		$("#positions").text();
		var availableSpace = $(this).data("space");
		var beltID = $(this).data("beltid");

		var quantity = $("#quantity").val();
		if(quantity > availableSpace && parseInt(quantity) > 0){
			alert("Please enter quantity more than 0 and less than "+availableSpace);
			return ;
		}
		alert(beltID +' ' + quantity);
		$.ajax({
			url: 'http://192.168.1.51/store/admin/index.php?route=catalog/refill/fill&user_token={{user_token}}',
			async: false,
		  	type: 'post',
		  	data: {
					beltID: beltID,
					quantity:quantity
				},
		    crossDomain: true,
			  success: function(json) {

			  },
			  error: function(xhr, ajaxOptions, thrownError) {
		  		alert('Get Product ID failure');
		    	alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			    }
		}).done(function(){
			location.reload();

		}
		);
			
		
		// get quantity, and get data-space and compare

	});
	function isValidBarcode(barcode) {
	  // check length
	  if (barcode.length < 8 || barcode.length > 18 ||
	      (barcode.length != 8 && barcode.length != 12 &&
	      barcode.length != 13 && barcode.length != 14 &&	      
	      barcode.length != 18)) {
	    return false;
	  }

	  return true;
	}
	$("#productBarcode").on("change", function () {
		$("#positions").text('');
		var barCode = $("#productBarcode").val();	
		var test1 = isValidBarcode(barCode);
		test1 = true;
		if(!test1){
			alert('not valid barcode');
			event.preventDefault();
		}
		productID = getProductID(barCode);	
		$("#palletBarcode").focus();
	}); 
</script>
{{ footer }}