{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
      <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-product" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
   <div class="container-fluid"> {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
    <div class="panel-body">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-shelf" class="form-horizontal">
        <div class="tab-content">
          <div class="tab-content">

            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-barcode"><span data-toggle="tooltip" title="{{ help_barcode }}">{{ entry_barcode }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="barcode" value="{{ barcode }}" placeholder="{{ entry_barcode }}" id="input-barcode" class="form-control"/>
                </div>
              </div>                
            </div>
            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-height"><span data-toggle="tooltip" title="{{ help_height }}">{{ entry_height }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control"/>
                </div>
              </div>                
            </div>   
            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-physical-row"><span data-toggle="tooltip" title="{{ help_physical_row }}">{{ entry_physical_row }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="physical_row" value="{{ physical_row }}" placeholder="{{ entry_physical_row }}" id="input-physical_row" class="form-control"/>
                </div>
            </div>

            <div class="form-group required" >
                <label class="col-sm-2 control-label" for="unit-name-class">{{ entry_unit }}</label>
                <div class="col-sm-10">
                  <select name="unit_name" id="input-unit-name" class="form-control">
                    <option value="0">{{ text_none }}</option>
                    {% for unit_name in units %}
                      {% if unit_name.unit_id == unit_id %}
                        <option value="{{ unit_name.unit_id }}" selected="selected">{{ unit_name.name }}</option>
                      {% else %}
                        <option value="{{ unit_name.unit_id }}">{{ unit_name.name }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-width"><span data-toggle="tooltip" title="{{ help_width }}">{{ entry_width }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control"/>
                </div>
              </div>                
            </div>  

  
          </div>              
        </div> 
      </form>
      </div>
    </div>
   
</div>
{{ footer }} 