{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
      <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-product" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
   <div class="container-fluid"> {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-unit" class="form-horizontal">
          <div class="tab-content">
            <div class="tab-content">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-model">{{ entry_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
                  {% if error_model %}
                    <div class="text-danger">{{ error_name }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-barcode"><span data-toggle="tooltip" title="{{ help_barcode }}">{{ entry_barcode }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="barcode" value="{{ barcode }}" placeholder="{{ entry_barcode }}" id="input-barcode" class="form-control"/>
                </div>
              </div>                
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-direction"><span data-toggle="tooltip" title="{{ help_direction }}">{{ entry_unitdirection }}</span></label>
                <div class="col-sm-10">
                  <select name="unit_direction" id="input-unit-direction" class="form-control">
                    <option value="0">{{ text_none }}</option>
                    <option value="Right"
                      {% if unit_direction == "Right" %}
                         selected="selected"
                         {% endif %}
                         >Right</option>
                        <option value="Left" 
                           {% if unit_direction == "Left" %}
                        selected="selected"
                          {% endif %}
                        >Left</option>
                      
                  </select>
                </div>
              </div>   
            </div>

          </div>

        </form>
      </div>
    </div>
    </div> 

</div>
{{ footer }} 
