{{ header }}{{ column_left }}
<div id="content">
<div class="page-header">
  <div class="container-fluid">
    <div class="pull-right">
      <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-order').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
      <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a> </div>
    <h1>{{ heading_title }}</h1>
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="container-fluid">{% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}

  <div class="row">
    <div id="filter-order" class="col-md-2 col-md-push-10 col-sm-12 hidden-sm hidden-xs">
			<div class="panel-body">
		   Available now cash : {{ max }}
			</div>
    </div>
    <div class="col-md-10 col-md-pull-2 col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
        </div>
				<div>   
					<div class="panel-body">      
						<form class="form-horizontal" method="post" action="{{  action }}" enctype="multipart/form-data" id="form-order">
							<div class="form-group">
                <label class="col-sm-2 control-label" for="input-store">Add withdraw</label>
                <div class="col-sm-2 control-form">
								  <input type="text" name="amount" value="" placeholder="amount " id="input-amount" class="form-control" />
								</div>
								<div class="col-sm-5 control-form">
									<textarea type="text" name="note" value="" placeholder="note" id="input-note" class="form-control" ></textarea>								
								</div>
								<div class="col-sm-1 control-form">
                  <button type="submit" id="withdraw" class="btn btn-default"> WithDraw</button>
								</div>
								 <div class="col-sm-2 control-form">
                  <button type="submit" id="withdrawAll" class="btn btn-default"><i class="fa fa-download"></i> WithDraw all</button>
								</div>
						</form>
					</div>
				</div>
        <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-center">{{ column_transaction_id }}</td>
                    <td class="text-center">{{ column_amount }}</td>
                    <td class="text-center">{{ column_date_added }}</td>
                  </tr>
                </thead>
                <tbody>
                
                {% if withdraws %}
                {% for withdraw in withdraws %}
                <tr>
                   <td class="text-center">{{ withdraw.transaction_id }}</td>
                  <td class="text-center">{{ withdraw.amount }}</td>
                  <td class="text-center">{{ withdraw.date_added }}</td>
                
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
                  </tbody>
                
              </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript"><!--
		var IP = '192.168.1.51';

	let maxString = {{ max }};
	let max = parseFloat(maxString);
	$("#input-amount").on("change",function(){
		if($(this).val() > max){
			alert(" You can't withdraw more than "+ max);
		}
	});

//--></script> 
</div>
{{ footer }} 